<ion-header>
    <ion-toolbar color="warning">
        <ion-title color="secondary">Error</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="warning">
        <ion-card-header>
            <ion-card-title color="secondary" class="center">Connection Lost</ion-card-title>
        </ion-card-header>
        <ion-card-content class="center">
            Tap the retry button below when a connection has been established
            <br><br>
            <ion-button (click)="reload();" color="secondary" class="ion-padding">
                <ion-icon slot="icon-only" name="refresh-circle"></ion-icon>
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>